.Weather canvas {
  margin: 10px auto;
}
.Weather .temperature {
  font-size: 60px;
}
.Weather .unit {
  color: whitesmoke;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
